.buttonTouchableOpacity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  border-radius: 30px;

  color: gray;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.buttonTouchableOpacity:hover {
  background-color: #eee;
  color: black;
}

.buttonColorBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  border-radius: 30px;

  border: 1px solid #0a66c2;

  color: #0a66c2;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.buttonColorBorder:hover {
  background-color: #0a66c210;
  color: black;
}

.buttonSolid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 30px;
  border-radius: 30px;

  background-color: #0a66c2;

  color: white;
  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
}

.buttonSolid:hover {
  background-color: #06427e;
}
