.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;

  z-index: 5;
}

.headerContainer {
  display: flex;
  width: 95%;
  max-width: 72em;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  display: flex;
  object-fit: contain;
  height: 40px;
  cursor: pointer;
  -webkit-user-drag: none;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;

  border-radius: 5px;
  height: 16px;
  color: #444;
  background-color: #eef3f8;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;

  justify-content: end;
  font-weight: 400;
  width: 250px;
}

.header__right {
  display: flex;
}
