.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;

  padding-top: 5px;
  padding-bottom: 5px;

  z-index: 5;
}

.headerContainer {
  display: flex;
  width: 95%;
  max-width: 72em;
  justify-content: space-between;

  @media (max-width: 934px) {
    justify-content: left;
  }
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  display: flex;
  object-fit: contain;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-drag: none;
}

.header__search {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  height: 30px;
  color: #444;
  background-color: #eef3f8;

  @media (max-width: 934px) {
    flex-direction: column;
    margin-right: 20px;
    background-color: white;
    height: 50px;
    cursor: pointer;
    color: #555;
  }
}

.header__search:hover {
  @media (max-width: 934px) {
    color: black;
  }
}

.search__icon {
  @media (max-width: 934px) {
    display: flex;
  }
}

.header__search > p {
  display: none;
  font-size: 14px;

  @media (max-width: 934px) {
    display: flex;
  }

  @media (max-width: 750px) {
    display: none;
  }
}

.header__search > p:hover {
  color: black;
}

.header__search > input {
  outline: none;
  border: none;
  background: none;

  justify-content: end;
  font-weight: 400;
  width: 225px;

  @media (max-width: 934px) {
    display: none;
  }
}

.header__right {
  display: flex;
}
