.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  flex-direction: column;
  overflow: hidden;
}

.loginbody {
  display: flex;
  max-width: 72em;
  width: 95%;
  margin-block: 20px;
  @media (max-width: 718px) {
    flex-direction: column;
  }
}

.login__left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__left > form {
  @media (max-width: 718px) {
    width: 100%;
  }
}

.login__left > form > p {
  font-weight: 600;
  font-size: 14px;
  color: #555;
  padding-block: 10px;
}
.login__left > form > input {
  margin-bottom: 10px;
  font-size: 16px;
  height: 15px;
  width: 320px;

  padding: 20px;

  border-radius: 5px;
  cursor: pointer;
  border-width: 1px;

  @media (max-width: 718px) {
    width: 95%;
    height: 60px;
    min-width: 200px;
  }
}

.login__left > form > input:hover {
  background-color: #eee;
  box-shadow: 0px 0px 0px 1px black;
}

.login__welcomeText {
  color: #8f5849;
  font-size: 55px;
  font-weight: 100;
  margin-bottom: 20px;
  @media (max-width: 718px) {
    font-size: 30px;
  }
}

.login__forgotPassword {
  margin-block: 20px;
  font-weight: 600;
  color: #0a66c2;
  cursor: pointer;
}

.login__forgotPassword:hover {
  text-decoration: underline;
}

.login__divider::before {
  margin-left: 10px;
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / 0.35);
  content: "";
  flex-grow: 1;
}

.login__divider {
  display: flex;
  font-size: 14px;
  align-items: center;
  width: 360px;
  margin-block: 25px;
}

.login__divider::after {
  margin-right: 10px;
  height: 1px;
  width: auto;
  background-color: rgb(0 0 0 / 0.35);
  content: "";
  flex-grow: 1;
}

.login__googleLogo::before {
  content: "G";
  font-weight: bolder;
  display: inline-block;
  margin-right: 5px;
}

/* Right part */

.login__right {
  display: flex;
  align-items: center;
  width: 30em;
}

.login__right > img {
  height: 65%;
  object-fit: cover;
  -webkit-user-drag: none;

  @media (max-width: 718px) {
    height: 30em;
  }
}

/* Bottom */

.login__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #f3f2ef;

  @media (max-width: 718px) {
    align-items: start;
  }
}

.bottom__links {
  display: flex;
  width: 95%;
  max-width: 72em;
  margin-block: 20px;
  @media (max-width: 718px) {
    flex-direction: column;
    margin-left: 20px;
  }
}

.bottom__logo {
  display: flex;
  justify-content: flex-start;
  height: 22px;
  width: 81px;
  margin-right: 10px;
  align-items: center;
}

.footer {
  display: flex;
  height: fit-content;
  justify-content: center;
  background-color: white;

  color: gray;
  font-size: 10px;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120em;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 20px;

  @media (max-width: 718px) {
    flex-wrap: wrap;
  }
}

.footerContainer > a {
  font-weight: 600;
  cursor: pointer;
  margin-inline: 10px;
}

.footerContainer > a:hover {
  text-decoration: underline;
  color: #0a66c2;
}
